.bgProjectPart3 {
    background-color: rgba(159, 196, 173, 0.3);
}

.projectPart3 {
    position: relative;
}


.timelineXP {
    ol {
        list-style-type: none;
    }

    li {
        position: relative;
        margin: 0;
        padding-bottom: 1em;
        padding-left: 20px;
    }

    li:before {
        content: '';
        background-color: var(--color-terracota);
        position: absolute;
        bottom: 0px;
        top: 0px;
        left: 4.5px;
        width: 3px;
    }

    li:after {
        content: '';
        background-image: url('../rond.svg');
        position: absolute;
        left: 0;
        top: 2px;
        height: 12px;
        width: 12px;
    }
}